// PUG template for Teses page
html
  head
    title= "Teses (júris)"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body
    div(class="w3-container")
      div(class="w3-container w3-black")
        h1(class="w3-left-align")= "Teses (júris)"
        h2(class="w3-indent")= "de José Carlos Ramalho"

      div(class="w3-right-align")
        button(class="w3-center w3-black w3-btn w3-round-large" onclick="window.location.href='/methods/add'")= "Adicionar +"
    
        table(class="w3-table-all" id="teses")
          tr
            th= "Aluno(nome)"
            th= "Aluno(id)"
            th= "Título"
            th= "Data"
            th= "Função"
          each meth in methList
            tr(id="meth.id")
              td(class="w3-right")= meth.likes
              td
                a(href="likes/"+meth.id)
                  button(class="w3-center w3-border w3-btn w3-round-large")= "like"
              td= meth.id
              td
                a(href=meth.url)= meth.name
              td
                a(href=meth.aurl)= meth.aname
              td= meth.date

      div(class="w3-container w3-black")
        p= "By David Ramalho 2017"


        
